* {
  margin: 0;
  padding: 0;
}

.body {
  position: relative;
  background-color:#f6f5f1;
  overflow: hidden;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.hero, .me, .enemy {
  position: relative;
  width: 480px;
  height: 520px;
  background-image: url('/assets/gear.png');
  background-color: rgba(0,0,0,.07);
}

.tab {
  width: 480px;
  height: 560px;
  background-color: rgba(0,0,0,.07);
}

.block-header {
  width: 480px;
  height: 40px;
  background-color: #531405;
  color: #d7cecc;
  text-align: center;
  font-size: 30px;
}

.hero *, .me *, .enemy * {
  position: absolute;
}

.me *, .enemy * {
  cursor: pointer;
}

.bag {
  top: 8%;
  left: 7.5%;
}

.cape {
  top: 8%;
  right: 7.5%;
}

.food {
  top: 56%;
  left: 7.5%;
}

.potion {
  top: 56%;
  right: 7.5%;
}

.mount {
  top: 75%;
  left: 39.5%;
}

.helmet {
  top: 10%;
  left: 39.5%;
}

.armor {
  top: 32%;
  left: 39.5%;
}

.boots {
  top: 53%;
  left: 39.5%;
}

.weapon {
  top: 31.5%;
  left: 13%;
}

.offhand {
  top: 31.5%;
  right: 13%;
}

.item {
  height: 100px;
  width: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120px 120px;
}

.me .selected {
  box-shadow: rgb(55 230 23) 0px 22px 50px 4px;
}

.enemy .selected {
  box-shadow: rgb(234 26 16) 0px 22px 50px 4px;
}

.login-form-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url('/assets/loginscreen.png') no-repeat center;
  z-index: 100;
}

.register-form-wrapper {
  position: absolute;
  top: 40vh;
  left: 40vw;
  width: 20vw;
  height: 20vh;
  background-color: rgb(208 196 186);
  z-index: 200;
  text-align: center;
  border-radius: 5px;
}

.reg-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  border: 1px solid black;
  cursor: pointer;
}

.reg-link {
  cursor: pointer;
  text-decoration: underline;
}

.hidden {
  display: none;
}

.inv-in-shop {
  margin-bottom: 10px;
}

.item-stats {
  display: none;
  position: absolute;
  width: 160px;
  height: 200px;
  background-color: rgb(208 196 186);
  padding: 10px;
  opacity: 0.8;
  z-index: 100;
}

.email, .password, .submit, .reg-email, .reg-password, .reg-submit, .reg-name {
  margin-bottom: 5px;
  width: 12vw;
}

.menu-wrapper {
  height: 10vh;
  width: 100vw;
  background-color: #531405;
  color: #d7cecc;
}

.menu {
  width: 60vw;
}

.menu-item {
  height: 10vh;
  width: 10vw;
  cursor: pointer;
  font-size: 20px;
}

.active-menu-item, .menu-item:hover {
  background-color: #c63000;
  color: #ffdfbc;
}

.main-content {
  height: 90vh;
  width: 100vw;
  overflow: hidden;
}

.hero-wrapper {
  margin-right: 5vw;
}

.character {
  font-size: 20px;
}

.stats {
  height: 50%;
  width: 50%;
  align-self: center;
  margin-top: 20%;
}

.inventory, .inv-in-shop, .goods-in-shop {
  padding: 10px;
  flex-wrap: wrap;
}

.inventory .item, .shop .item {
  margin: 5px;
  cursor: pointer;
}

.shop {
  position: relative;
}

.gold-wrapper {
  position: absolute;
  justify-self: flex-end;
  justify-content: space-evenly;
  font-size: 20px;
  bottom: 10px;
  left: 40px;
}

.update-shop {
  width: 200px;
  cursor: pointer;
}

.shop .gold {
  width: 200px;
}

.pve-map {
  margin-top: 40px;
  align-self: center;
  position: relative;
  height: 400px;
  width: 400px;
  background-image: url('/assets/map.jpg');
  background-repeat: no-repeat;
  background-size: 400px 400px;
}

.pve {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: 150px 150px;
  background-position: center;
}

.pve-1 {
  background-image: url('/assets/pve1.png');
  top: 30px;
  left: 30px;
}

.pve-2 {
  background-image: url('/assets/pve2.png');
  top: 60px;
  right: 30px;
}

.pve-3 {
  background-image: url('/assets/pve3.png');
  bottom: 120px;
  left: 60px;
}

.pve-4 {
  background-image: url('/assets/pve4.png');
  bottom: 30px;
  right: 30px;
}

.pvp {
  font-size: 24px;
  margin: 100px 0 20px;
  align-self: center;
}

.update-pvp, .pvp-fight {
  width: 200px;
  font-size: 20px;
  align-self: center;
  margin-bottom: 20px;
}

.footer {
  height: 5vh;
  width: 50vw;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 25vw;
}

.footer-link {
  color: black;
}

.school-logo {
  height: 4vh;
  width: 5vw;
}

.battle-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.battle-characters {
  margin-bottom: 2vw;
}

.me-wrapper {
  margin-right: 5vw;
}

.battle-log {
  width: 50vw;
  height: 20vh;
  font-size: 16px;
  overflow: auto;
}

.fight {
  width: 12vw;
  height: 4vh;
  margin-bottom: 2vw;
}

.battle-close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: 2px solid black;
  cursor: pointer;
  font-size: 36px;
  text-align: center;
}